* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI";
	outline: none;

}

body {
	font-family: 'Segoe';
	overflow: hidden;
/*	background-color: #5C6BC0;
*/}


.bodydiv{
	position: relative;
	overflow: hidden; 
	display: inline-flex;
	justify-content: center; 
	align-items: center; 
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 3rem;
	scroll-behavior: smooth;
}

/******************** BACKGROUND VIDEO *******************/

.video-container
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -10;
}
.video-overlay
{
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	
}

/********************NAVIGATION BAR**********************/

.navbar-scroll{
	background-color: transparent;
	position: fixed; 
	top: 0;
	width: 100%;
	transition-duration: 0.4s;
	display: flex;
	justify-content: space-between;
}

.Nav_Bar_Body{
	
	list-style: none;
	overflow: hidden;
	color: white;
	display: flex;
	padding: 0px;
	width: 50%;
	margin-bottom: 0px;
}

.Nav_Button{
	font-family: font92720;
	color: white;
	background-color: transparent;
	text-align: center;
	margin-top:0;
	padding: 3%;
	width: 100%;
	transition: 0.1s;
	font-size: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	border:none;
	transition-duration: 0.2s

}

.Nav_Button_Link:visited
{
	color: rgb(0,168,246);
}


.Nav_Button:hover{

	padding-bottom: 2%;
	box-shadow: 2px;
	cursor: pointer;
	color: rgb(0,168,246);
	transform: scale(1.06);
}


.Nav_Button_Link:hover 
{
	color: rgb(0,168,246);
}

.Nav_Button_Link:active
{
	color: rgb(0,168,246);
}

.navbar-logo{
	width: 6%;
	transition-duration: 0.2s;
	align-self: flex-start;
/*	background-color: white;
*/
}
.navbar-logo:hover{
	transform: scale(1.3);
}
/***********After Scroll***************/

.navbar-logo.size-change{
	width: 7%;
}
.navbar-scroll.color-change{
	background-color: rgb(0,0,0);
	height: 12%;
}
.Nav_Button.margin-change{
	margin-top:1%;
	margin-bottom: 1%;
	transition-duration: 0.2s
}

/*****************UNDERLINE NAVIGATION BAR CONTENT****************************/
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: rgb(0,168,246);
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/****************I_FRAMES*******************************/
.frame
{
	border-radius: 2%;
	margin:1%;
}

.graphs{
	margin-right:2%;
	size: 50%;
}
/**************** COLLAPSIBLE ******************************/
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  width: 80%;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: inline-block;
  border:none;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
height: 40%;
  padding-left: 5%;
  padding-right: 10%;
  color: #A77B0E;
  background: transparent;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
  justify-content: space-between;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: transparent;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

/**************** ******************************/
/**************** FOOTER ******************************/

.footer{
	background-color: black;
	bottom: 0;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	color: rgb(211,211,211);
}

.footerin{
	padding-top: 10px;
	width: 30%;
}

.footermid{
	padding: 30px;
	display: flex;
	text-align: center;
	flex-direction:row; 
	justify-content: space-around;
}


.footermid-list-el{
	color: gray;
}

.footermid-el{
	transition-duration: 0.2s;
}
.footermid-el:hover{
	cursor: pointer;
	transform: scale(1.1);

	.footer-label:hover{
		color: green;
	}
}

.imgclass{
	padding: 15%;
	margin: 0px;
	width: 50%;
	height: 50%;
	transition-duration: 0.2s;
}

.imgclass:hover{
	transform: scale(1.3);
	cursor: pointer;
}	
.footerend{
	display: flex;
	text-align: center;
	flex-direction:row; 
	justify-content: space-around;
	width:10%;
}

.footerinput{
	padding: 2.5%;
	border-radius: 40px 0px 0px 40px; 
	width: 70%;
	border: 2px solid rgb(0,168,246);
	transition-duration: 0.3s;
}

.footerinput:hover{
	padding: 16px;
	border-style: none;
	transition-duration: 0.3s;
	background-color: rgba(216,216,216 0.2);
	box-shadow: 0px 0px 8px 8px #b0e0ee;
	color: black;
}
.footerbut{
	padding: 2.5%;
	width: 20%;
	color: rgb(0,168,246);
	border-radius: 0px 40px 40px 0px; 
	border:3px solid rgb(0,168,246);
	background-color: transparent;
	transition-duration: 0.2s;
}
.footer-label{
	color: white;
	font-size: 200%; 
}
.footerbut:hover{
	color: white;
	background-color: rgb(0,168,246);

}